{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="heroLogin"></div>
    <section class="loginContainer">

        {% for message in app.flashes('success') %}
            <section class="info info--customer info--success">
                <p class="info__text">
                    <i class="fas fa-info-circle u-mgRt fa-info-circle--info fa-info-circle--info--success"></i>
                    {{ message }}
                </p>
            </section>
        {% endfor %}

        <h1 class="blackTitle">Log in</h1>
        <p class="login__info">Log in or sign up to find available trainers or to keep track of your workouts.</p>

        <section class="loginForm">
            <div class="loginForm__block">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <label for="inputEmail" class="label">Email:</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="loginForm__input" required autofocus autocomplete="off">

                    <label for="inputPassword" class="label">Password:</label>
                    <input type="password" name="password" id="inputPassword" class="loginForm__input" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="u-w85">
                        <button class="btnPrimary" type="submit">Log in</button>
                    </div>
                </form>
            </div>

            <div class="loginForm__block">
                <div class="register">
                    <h3 class="register__heading">New member?</h3>
                    <p class="register__text">Register as:</p>
                    <div class="register__bottom">
                        <div class="u-mgRt">
                            <a href="{{ path('app_customer_register') }}" class="btnPrimary">Customer</a>
                        </div>
                        <div><a href="{{ path('app_trainer_register') }}" class="btnPrimary">Trainer</a></div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
