{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="hero"></div>

    <div class="listContainer">
        {#Form#}
        <section class="filterContainer">
            <form method="" action="" class="filters">
                <div class="filters__container">
                    <div class="filters__left">
                        <h1 class="blackTitle">Our trainers</h1>
                    </div>
                    <div class="filters__right">
                        <input class="filters__name" type="text" placeholder="Search by name..." name="name"/>
                    </div>
                </div>
                <div class="filters__inputs">
                    <label class="filters__label" for="date">Date</label>
                    <input id="date" type="date" class="filters__date" name="date"/>
                    {#From#}
                    <label class="filters__label" for="from">From</label>
                    <input class="filters__from" type="time" id="from" name="from"/>
                    {#To#}
                    <label class="filters__label" for="to">To</label>
                    <input class="filters__to" type="time" id="to" name="to"/>
                    {#Tags#}
                    <ul class="filters__tags u-listNone">
                        <li class="filters__tag">Running</li>
                        <li class="filters__tag">Weight lifting</li>
                        <li class="filters__tag">Martial arts</li>
                    </ul>

                    <input class="button button__content" type="submit" value="Go"/>
                </div>
            </form>
        </section>
        {#List of trainers#}
        <section class="trainersBlock">
            <div class="trainerBox">
                <a href="#">
                    <div class="trainerBox__overlay">
                        <div class="trainerBox__details">
                            <div class="trainerBox__head">
                                <p class="trainerBox__name">John Davis</p>
                                <p class="trainerBox__rating"><span>4.8 </span><i
                                            class="fas fa-star fa-star--yellow"></i>
                                </p>
                            </div>
                            <p class="trainerBox__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur mollis arcu et vulputate volutpat. Vivamus ut ante sit amet ipsum dapibus
                                commodo.
                                Nunc placerat nibh metus, vitae consectetur sem lobortis vel. Vestibulum eu arcu tempus,
                                aliquam neque id, vehicula sem. Aliquam tincidunt vehicula tortor, non ornare leo
                                venenatis
                                nec. Fusce.</p>
                        </div>
                    </div>
                    <img class="trainerBox__image" src="{{ asset('images/john.jpg') }}">
                </a>
            </div>

            <div class="trainerBox">
                <a href="#">
                    <div class="trainerBox__overlay">
                        <div class="trainerBox__details">
                            <div class="trainerBox__head">
                                <p class="trainerBox__name">John Davis</p>
                                <p class="trainerBox__rating"><span>4.8 </span><i
                                            class="fas fa-star fa-star--yellow"></i>
                                </p>
                            </div>
                            <p class="trainerBox__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur mollis arcu et vulputate volutpat. Vivamus ut ante sit amet ipsum dapibus
                                commodo.
                                Nunc placerat nibh metus, vitae consectetur sem lobortis vel. Vestibulum eu arcu tempus,
                                aliquam neque id, vehicula sem. Aliquam tincidunt vehicula tortor, non ornare leo
                                venenatis
                                nec. Fusce.</p>
                        </div>
                    </div>
                    <img class="trainerBox__image" src="{{ asset('images/john.jpg') }}">
                </a>
            </div>

            <div class="trainerBox">
                <a href="#">
                    <div class="trainerBox__overlay">
                        <div class="trainerBox__details">
                            <div class="trainerBox__head">
                                <p class="trainerBox__name">John Davis</p>
                                <p class="trainerBox__rating"><span>4.8 </span><i
                                            class="fas fa-star fa-star--yellow"></i>
                                </p>
                            </div>
                            <p class="trainerBox__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur mollis arcu et vulputate volutpat. Vivamus ut ante sit amet ipsum dapibus
                                commodo.
                                Nunc placerat nibh metus, vitae consectetur sem lobortis vel. Vestibulum eu arcu tempus,
                                aliquam neque id, vehicula sem. Aliquam tincidunt vehicula tortor, non ornare leo
                                venenatis
                                nec. Fusce.</p>
                        </div>
                    </div>
                    <img class="trainerBox__image" src="{{ asset('images/john.jpg') }}">
                </a>
            </div>

            <div class="trainerBox">
                <a href="#">
                    <div class="trainerBox__overlay">
                        <div class="trainerBox__details">
                            <div class="trainerBox__head">
                                <p class="trainerBox__name">John Davis</p>
                                <p class="trainerBox__rating"><span>4.8 </span><i
                                            class="fas fa-star fa-star--yellow"></i>
                                </p>
                            </div>
                            <p class="trainerBox__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur mollis arcu et vulputate volutpat. Vivamus ut ante sit amet ipsum dapibus
                                commodo.
                                Nunc placerat nibh metus, vitae consectetur sem lobortis vel. Vestibulum eu arcu tempus,
                                aliquam neque id, vehicula sem. Aliquam tincidunt vehicula tortor, non ornare leo
                                venenatis
                                nec. Fusce.</p>
                        </div>
                    </div>
                    <img class="trainerBox__image" src="{{ asset('images/john.jpg') }}">
                </a>
            </div>

            <div class="trainerBox">
                <a href="#">
                    <div class="trainerBox__overlay">
                        <div class="trainerBox__details">
                            <div class="trainerBox__head">
                                <p class="trainerBox__name">John Davis</p>
                                <p class="trainerBox__rating"><span>4.8 </span><i
                                            class="fas fa-star fa-star--yellow"></i>
                                </p>
                            </div>
                            <p class="trainerBox__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur mollis arcu et vulputate volutpat. Vivamus ut ante sit amet ipsum dapibus
                                commodo.
                                Nunc placerat nibh metus, vitae consectetur sem lobortis vel. Vestibulum eu arcu tempus,
                                aliquam neque id, vehicula sem. Aliquam tincidunt vehicula tortor, non ornare leo
                                venenatis
                                nec. Fusce.</p>
                        </div>
                    </div>
                    <img class="trainerBox__image" src="{{ asset('images/john.jpg') }}">
                </a>
            </div>

            <div class="trainerBox">
                <a href="#">
                    <div class="trainerBox__overlay">
                        <div class="trainerBox__details">
                            <div class="trainerBox__head">
                                <p class="trainerBox__name">John Davis</p>
                                <p class="trainerBox__rating"><span>4.8 </span><i
                                            class="fas fa-star fa-star--yellow"></i>
                                </p>
                            </div>
                            <p class="trainerBox__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur mollis arcu et vulputate volutpat. Vivamus ut ante sit amet ipsum dapibus
                                commodo.
                                Nunc placerat nibh metus, vitae consectetur sem lobortis vel. Vestibulum eu arcu tempus,
                                aliquam neque id, vehicula sem. Aliquam tincidunt vehicula tortor, non ornare leo
                                venenatis
                                nec. Fusce.</p>
                        </div>
                    </div>
                    <img class="trainerBox__image" src="{{ asset('images/john.jpg') }}">
                </a>
            </div>
        </section>
        {#Pagination#}
        <section class="pagination">
            <div class="pagination__box">
                <p class="pagination__number">1</p>
            </div>
            <div class="pagination__box">
                <p class="pagination__number">2</p>
            </div>
            <div class="pagination__box">
                <p class="pagination__number">3</p>
            </div>
            <div class="pagination__box">
                <p class="pagination__number">4</p>
            </div>
            <div class="pagination__box">
                <p class="pagination__number">...</p>
            </div>
            <div class="pagination__box">
                <p class="pagination__number">9</p>
            </div>
        </section>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
