{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicki@2.0.1/css/timepicki.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="hero"></div>

    <form method="GET" action="{{ path('list') }}" class="filters">
        <div class="filters__head">
            <h1 class="blackTitle">Our trainers</h1>
            <input class="filters__name" type="text" placeholder="Search by name..." name="name"
                   value="{{ app.request.query.get('name') }}"/>
        </div>
        <div class="filters__selection">
            <div class="filters__inputElement">
                <label class="filters__label" for="datepicker">Date:</label>
                <div>
                    <input id="datepicker" type="text" class="filters__input"
                           value="{{ app.request.query.get('date') }}"
                           name="date" autocomplete="off"/>
                </div>
            </div>

            <div class="filters__inputElement">
                <label class="filters__label" for="from">From:</label>
                <input class="filters__input" type="text" id="from" name="from"
                       value="{{ app.request.query.get('from') }}"/>
            </div>

            <div class="filters__inputElement">
                <label class="filters__label" for="to">To:</label>
                <input class="filters__input" type="text" id="to" name="to"
                       value="{{ app.request.query.get('to') }}"/>
            </div>
        </div>
        <div class="filters__tagContainer">
            <ul class="filters__tags u-listNone">
                {% for tag in tags %}
                    <li>
                        {% if (tag.id in app.request.query.get('tags')) %}
                            <input name="tags[]" class="hiddenCheckbox" checked type="checkbox"
                                   id="{{ tag.name }}" value="{{ tag.id }}"/>
                        {% else %}
                            <input name="tags[]" class="hiddenCheckbox" type="checkbox" id="{{ tag.name }}"
                                   value="{{ tag.id }}"/>
                        {% endif %}

                        <label for="{{ tag.name }}" class="filters__tag">{{ tag.name }}</label>
                    </li>
                {% endfor %}
            </ul>

            <input class="button button__content u-mRight" type="submit" value="Go"/>
        </div>
    </form>

    <div class="listContainer">
        <section class="trainersBlock">
            {% for trainer in trainers %}
                <div class="trainerBox">
                    <a href="{{ trainer.id }}">
                        <div class="trainerBox__overlay">
                            <div class="trainerBox__details">
                                <div class="trainerBox__head">
                                    <p class="trainerBox__name">{{ trainer.name }}</p>
                                    <p class="trainerBox__rating"><span>4.8 </span>
                                        <i class="fas fa-star fa-star--yellow"></i>
                                    </p>
                                </div>
                                <p class="trainerBox__description">{{ trainer.personalStatement }}</p>
                            </div>
                        </div>
                        <div class="trainerBox__imageContainer">
                            <img class="trainerBox__image" src="{{ trainer.imageUrl }}">
                        </div>
                    </a>
                </div>
            {% endfor %}
        </section>

        {% if maxPages > 1 %}
            <ul class="pagination u-listNone">
                {% for i in 1..maxPages %}
                    <li class="pagination__box {{ thisPage==i? "pagination__box--active" }}">
                        <a class="pagination__number"
                           href="{{ path('list', {page: i, name: app.request.query.get('name'), date: app.request.query.get('date'), from: app.request.query.get('from'), to: app.request.query.get('to') }) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/timepicki@2.0.1/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/timepicki@2.0.1/js/timepicki.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#from, #to").timepicki({
                show_meridian: false,
                min_hour_value: 6,
                max_hour_value: 22,
                step_size_minutes: 1,
                step_size_hours: 1,
                overflow_minutes: false,
                increase_direction: 'up',
                disable_keyboard_mobile: true,
                start_time: ['08', '00']
            });
        });
    </script>
{% endblock %}