{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicki@2.0.1/css/timepicki.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="hero"></div>

    <div class="listContainer">
        {#Form#}
        <section class="filterContainer">
            <form method="GET" action="" class="filters">
                <div class="filters__container">
                    <div class="filters__left">
                        <h1 class="blackTitle">Our trainers</h1>
                    </div>
                    <div class="filters__right">
                        <input class="filters__name" type="text" placeholder="Search by name..." name="name"
                               value="{{ app.request.query.get('name') }}"/>
                    </div>
                </div>
                <div class="filters__inputs">
                    <label class="filters__label" for="datepicker">Date</label>
                    <input id="datepicker" type="text" class="filters__date" value="{{ app.request.query.get('date') }}"
                           name="date" autocomplete="off"/>
                    {#From#}
                    <label class="filters__label" for="from">From</label>
                    <input class="filters__from" type="text" id="from" name="from"
                           value="{{ app.request.query.get('from') }}"/>
                    {#To#}
                    <label class="filters__label" for="to">To</label>
                    <input class="filters__to" type="text" id="to" name="to" value="{{ app.request.query.get('to') }}"/>
                    {#Tags#}
                    <ul class="filters__tags u-listNone">
                        <li class="filters__tag">Running</li>
                        <li class="filters__tag">Weight lifting</li>
                        <li class="filters__tag">Martial arts</li>
                    </ul>

                    <input class="button button__content" type="submit" value="Go"/>
                </div>
            </form>
        </section>
        {#List of trainers#}
        <section class="trainersBlock">
            {% for trainer in trainers %}
                <div class="trainerBox">
                    <a href="{{ trainer.id }}">
                        <div class="trainerBox__overlay">
                            <div class="trainerBox__details">
                                <div class="trainerBox__head">
                                    <p class="trainerBox__name">{{ trainer.name }}</p>
                                    <p class="trainerBox__rating"><span>4.8 </span><i
                                                class="fas fa-star fa-star--yellow"></i>
                                    </p>
                                </div>
                                <p class="trainerBox__description">{{ trainer.personalStatement }}</p>
                            </div>
                        </div>
                        <img class="trainerBox__image" src="{{ trainer.imageUrl }}">
                    </a>
                </div>
            {% endfor %}
        </section>
        {#Pagination#}

        {% if maxPages > 1 %}
            <ul class="pagination u-listNone">
                {% for i in 1..maxPages %}
                    <li class="pagination__box {{ thisPage==i? "pagination__box--active" }}">
                        <a class="pagination__number"
                           href="{{ path('list', {page: i, name: app.request.query.get('name'), date: app.request.query.get('date'), from: app.request.query.get('from'), to: app.request.query.get('to') }) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/timepicki@2.0.1/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/timepicki@2.0.1/js/timepicki.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#from, #to").timepicki({
                show_meridian: false,
                min_hour_value: 6,
                max_hour_value: 22,
                step_size_minutes: 1,
                step_size_hours: 1,
                overflow_minutes: false,
                increase_direction: 'up',
                disable_keyboard_mobile: true
            });
        });
    </script>
{% endblock %}