{% extends 'base.html.twig' %}

{% block title %}Trainer's Page - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <div class="heroTrainer"></div>

    <section class="trainerContainer">
        <h1 class="blackTitle">{{ trainer.name }}</h1>

        <div class="trainerInfo">

            <div class="trainerInfo__left">
                <div class="trainerInfo__imageContainer">
                    <img class="trainerInfo__image" src="{{ trainer.imageUrl }}" alt="Trainer"/>
                </div>
                <div class="trainerInfo__tags">
                    <p class="blackTitle">Tags</p>
                    <ul class="filters__tags u-w400 u-listNone u-marginTop">
                        <li class="filters__tag filters__tag--big filters__tag--noInteraction">Running</li>
                        <li class="filters__tag filters__tag--big filters__tag--noInteraction">Weight lifting</li>
                        <li class="filters__tag filters__tag--big filters__tag--noInteraction">Martial arts</li>
                        <li class="filters__tag filters__tag--big filters__tag--noInteraction">Running</li>
                    </ul>
                </div>
            </div>

            <div class="trainerInfo__right">
                <p class="trainerInfo__rating"><i class="fas fa-star fa-star--yellow fa-star--big"></i> 4.8</p>
                <span class="trainerInfo__count"> 486 rating(s)</span>
                <p class="trainerInfo__desc">{{ trainer.personalStatement }}</p>
                <p class="trainerInfo__desc">Location: <span class="trainerInfo__desc">London</span></p>
                <p class="trainerInfo__desc">Workouts on TrainMe: <span class="trainerInfo__desc">496</span></p>
            </div>
        </div>

        <div class="calendarContainer">
            <p class="blackTitle">My schedule</p>
            <div id="calendar" class="calendar"></div>
        </div>

        <button class="button"><a class="button__content" href="{{ path('list') }}">Go Back</a></button>
    </section>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/calendar.js') }}"></script>
{% endblock %}