{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Trainer's Page{% endblock %}

{% block body %}
    <div class="heroTrainer"></div>
    <section class="trainerContainer">
        <h1 class="blackTitle">{{ trainer.name }}</h1>
        <div class="trainerInfo">
            <div class="trainerInfo__imageContainer">

                {% if user and 'ROLE_TRAINER' in user.roles and user == trainer.user %}
                    {% form_theme form 'form/upload.html.twig' %}
                    <div class="trainerInfo__uploadWrapper">
                        <label for="form_imageFile_file" class="trainerInfo__imageLabel">
                            <div class="trainerInfo__overlay">
                                <p>Change picture</p>
                                <i class="fas fa-images trainerInfo__icon"></i>
                            </div>
                            <img class="trainerInfo__image"
                                 src="{{ 'http' in trainer.imageName ? trainer.imageName : vich_uploader_asset(trainer, 'imageFile') }}"
                                 alt="Trainer"/>
                        </label>
                        {{ form_start(form) }}
                        {{ form_row(form.imageFile.file) }}
                        {{ form_row(form.submit) }}
                        {{ form_end(form) }}
                    </div>
                {% else %}
                    <img class="trainerInfo__image"
                         src="{{ vich_uploader_asset(trainer, 'imageFile') }}"
                         alt="Trainer"/>
                {% endif %}

            </div>

            <div class="trainerInfo__right {{ user and 'ROLE_TRAINER' in user.roles ? "trainerInfo__right--admin" : null }}">
                {% if trainer.averageRating %}
                    <p class="trainerInfo__rating"><i
                                class="fas fa-star fa-star--yellow fa-star--big">&nbsp;</i> {{ trainer.averageRating }}
                        <span class="trainerInfo__count"> {{ trainer.ratings|length }} rating(s)</span>
                    </p>
                {% endif %}
                <div id="trainerInfo" class="trainerInfo__inputs" data-trainer="{{ trainer|json_encode() }}"
                     data-user="{{ user ? user.roles|json_encode() : "[]" }}"
                     data-count="{{ count }}">
                    {% if not user or not is_granted('ROLE_TRAINER') or user != trainer.user %}
                        <p class="trainerInfo__desc justify editable">{{ trainer.personalStatement }}</p>

                        <p title="Phone" class="trainerInfo__desc">
                            <i class="fas fa-phone"></i>
                            <span class="infoText">{{ trainer.phone }}</span>
                        </p>
                        <p title="Location" class="trainerInfo__desc">
                            <i class="fas fa-map-marker-alt"></i>
                            <span class="infoText">{{ trainer.location }}</span>
                        </p>
                        <p title="Workouts on TrainMe" class="trainerInfo__desc">
                            <i class="fas fa-dumbbell"></i>
                            <span class="infoText">{{ count }}</span>
                        </p>
                    {% endif %}
                </div>

            </div>
        </div>

        <div id="trainerTags" class="tagsContainer" data-all-tags="{{ allTags|json_encode() }}"
             data-tags="{{ tags|json_encode() }}">
            <p class="blackTitle">Tags</p>
            {% if not user or not is_granted('ROLE_TRAINER') or user != trainer.user %}
                <ul class="filters__tags u-listNone u-marginTop">
                    {% for tag in trainer.tags %}
                        <li class="filters__tag filters__tag--big filters__tag--noInteraction">{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="calendarContainer">
            <p class="blackTitle">Available workout times</p>
            <div id="trainerCal" class="trainerCal" data-date='{{ selectedDate }}' data-trainer='{{ trainer.id }}'
                 data-roles="{{ user ? user.roles|json_encode() : "[]" }}"></div>
        </div>

        <div style="width:100px"><a class="btnPrimary" href="{{ path('list') }}">Go Back</a></div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if user and 'ROLE_TRAINER' in user.roles and user == trainer.user %}
        <script src="{{ asset('build/js/trainerInfo.js') }}"></script>
        <script src="{{ asset('build/js/trainerTags.js') }}"></script>
    {% endif %}
    <script src="{{ asset('build/js/trainerCal.js') }}"></script>
{% endblock %}