{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Trainer's Page{% endblock %}

{% block body %}
    <div class="heroTrainer"></div>
    <section class="trainerContainer">
        <h1 class="blackTitle">{{ trainer.name }}</h1>

        <div class="trainerInfo">
            <div class="trainerInfo__imageContainer">
                <img class="trainerInfo__image" src="{{ trainer.imageUrl }}" alt="Trainer"/>
            </div>

            <div class="trainerInfo__right">
                <p class="trainerInfo__rating"><i class="fas fa-star fa-star--yellow fa-star--big"></i> 4.8</p>
                <span class="trainerInfo__count"> 486 rating(s)</span>
                <p class="trainerInfo__desc justify editable">{{ trainer.personalStatement }}</p>

                {% if user and 'ROLE_TRAINER' in user.roles and user == trainer.user %}
                    <button class="btn editButton">Edit</button>
                    <button class="btn btnSave">Save</button>
                    <button class="btn btn--cancel btnDiscard">Discard</button>
                {% endif %}
                <p class="trainerInfo__desc">
                    <i class="fas fa-phone"></i>
                    <span class="infoText">{{ trainer.phone }}</span>
                </p>
                <p class="trainerInfo__desc">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="infoText">{{ trainer.location }}</span>
                </p>
                <p class="trainerInfo__desc">
                    <i class="fas fa-dumbbell"></i>
                    <span class="infoText">{{ count }}</span>
                </p>
            </div>
        </div>

        <div class="tagsContainer">
            <p class="blackTitle">Tags</p>
            <ul class="filters__tags u-listNone u-marginTop">
                {% for tag in trainer.tags %}
                    <li class="filters__tag filters__tag--big filters__tag--noInteraction">{{ tag.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="calendarContainer">
            <p class="blackTitle">Available workout times</p>
            <section class="info">
                <p class="info__text">
                    <i class="fas fa-info-circle u-mgRt fa-info-circle--custom"></i>
                    Click on the desired available time slot to book a workout.
                </p>
            </section>
            <div id="trainerCal" class="trainerCal" data-trainer='{{ trainer.id }}'></div>
        </div>

        <button class="button"><a class="button__content" href="{{ path('list') }}">Go Back</a></button>
    </section>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/editable.js') }}"></script>
    <script src="{{ asset('build/js/trainerCal.js') }}"></script>
{% endblock %}