{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Trainer's Page{% endblock %}

{% block body %}
    <div class="heroTrainer"></div>
    <section class="trainerContainer">
        <h1 class="blackTitle">{{ trainer.name }}</h1>

        <div class="trainerInfo">
            <div class="trainerInfo__imageContainer">
                <img class="trainerInfo__image" src="{{ trainer.imageUrl }}" alt="Trainer"/>
            </div>

            <div id="trainerInfo" data-trainer="{{ trainer|json_encode() }}"
                 data-user="{{ user ? user.roles|json_encode() : "[]" }}"
                 data-count="{{ count }}"
                 class="trainerInfo__right {{ user and 'ROLE_TRAINER' in user.roles ? "trainerInfo__right--admin" : null }}">
            </div>
        </div>

        <div class="tagsContainer">
            <p class="blackTitle">Tags</p>
            <ul class="filters__tags u-listNone u-marginTop">
                {% for tag in trainer.tags %}
                    <li class="filters__tag filters__tag--big filters__tag--noInteraction">{{ tag.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="calendarContainer">
            <p class="blackTitle">Available workout times</p>
            <div id="trainerCal" class="trainerCal" data-trainer='{{ trainer.id }}'
                 data-roles="{{ user ? user.roles|json_encode() : "[]" }}"></div>
        </div>

        <button class="button"><a class="button__content" href="{{ path('list') }}">Go Back</a></button>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if user and 'ROLE_TRAINER' in user.roles and user == trainer.user %}
        <script src="{{ asset('build/js/trainerInfo.js') }}"></script>
    {% endif %}
    <script src="{{ asset('build/js/trainerCal.js') }}"></script>
{% endblock %}